background-color={{ .style.background_focus }}
text-color={{ .style.text_focus }}
default-timeout=10000
width=480
margin=8
padding=8
border-size=4
border-color={{ .style.border }}

[app-name="Spotify"]
invisible=1

[urgency="high"]
background-color=#FF0000
width=600
border-size=4
border-color=#000000
default-timeout=0
ignore-timeout=1
